@{
//Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Http Verbs - Get Post Put Delete Patch Head*@

<h2>New Student</h2>

<form method="post">
    <div>
        <label>Id</label>
        <input type="text" name="Id"/>
    </div>
    <div>
        <label>Name</label>
        <input type="text" name="Name"/>
    </div>

    <div>
        <button type="submit">Create</button>
    </div>
</form>


